<div class="center hero-unit">
  <h1>Добро пожаловать</h1>

  <h2>
    Основная страница приложения
  </h2>
  <%= link_to "Вход", signin_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "Rails"), 'http://rubyonrails.org/' %>