<% provide(:title, 'Судопроизодство') %>
<div class="row">
      <%= render 'menu' %>
  <div class="span8">
  	<h1>Судопроизводство</h1>
<div class="hero-unit">
	<strong>Подано исков:</strong> 
	<%=  %>
	<br>
	<strong>Принято к рассмотрению:</strong> 
	<%= %>
	<br>
	<strong>Прошло судебных заседаний:</strong> <%= %>

</div>
  </div>
</div>