<% provide(:title, 'All users') %>
<div class="row">
      <%= render 'menu' %>
  <div class="span8">

	<%= will_paginate %>
		<table class="table table-bordered table-striped">
			<thead><tr><th>Название</th><th>Адресс</th><th>Телефон</th><th>Председатель</th><th>Сумма долга</th>
				  <% if current_user.admin? %>
				<th>Действие</th>
				  <% end %>
			</tr></thead>
			<tdoby>
  			 <%= render @agents %>
			</tbody>
		</table>
	<%= will_paginate %> 

  </div>
</div>